<div>
    {{#with program.excursion}}
    <main>
        <section>
            <h1> Name: {{name}}</h1>
            <p>{{location.city}}, {{location.country}}</p>
            <p>Дата проведення: {{date}}</p>
            <hr>
            <div>
                <h2> <u> Excursion program: </u></h2>
                <ul>
                    {{#each program}}
                    <li>
                        <h3>{{name}}</h3>
                        <p>Type: {{type}}</p>
                        <p>Duration: {{duration}}</p>
                        {{#with details.venue}}
                        <b>{{name}}</b>
                        {{#with location}}
                        <address>{{address}}, {{city}}, {{country}}</address>
                        {{/with}}
                        {{/with}}
                        <ul>
                            {{#each details.performers}}
                            <li>{{name}}, {{type}}</li>
                            {{/each}}


                        </ul>
                        {{#with details.museum}}
                        <h3>{{name}}</h3>
                        <p>{{location.address}}, {{location.city}}, {{location.country}}</p>
                        <i>Exhibits:</i>
                        {{#each exhibits}}
                        <ul>
                            <li>
                                <p><b>{{name}}</b></p>
                                <p>{{artist}}</p>
                                <p>{{description}}</p>
                                {{#if audio_guide includeZero=true}}
                                <b>(Audio guide)</b>
                                {{/if}}</p>
                            </li>

                        </ul>
                        </ul>
                        {{#with details.museum}}
                        <h3>{{name}}</h3>
                        <p>{{location.address}}, {{location.city}}, {{location.country}}</p>
                        <i>Exhibits:</i>
                        {{#each exhibits}}
                        <ul>
                            <li>
                                <p><b>{{name}}</b></p>
                                <p>{{artist}}</p>
                                <p>{{description}}</p>
                                {{#if audio_guide includeZero=true}}
                                <b>(Audio guide)</b>
                                {{/if}}</p>
                            </li>

                        </ul>

                        {{/each}}
                        {{/with}}

                        {{#with details.guide}}
                        <p>Guide: {{name}}</p>
                        <p>Language: {{language}}</p>
                        <p>Rating:{{rating}}</p>
                        {{/with}}

                    </li>
                    {{/each}}
                </ul>
        </section>
    </main>
    {{/with}}
</div>